.container {
  width: 660px;
  height: 660px;
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-template-rows: repeat(0, 1fr);
}

.cell {
  background-color: beige;
  border: 0.2px solid grey;
}

.color-items {
  background-color: black;
  transition: background-color 0.6s linear;
}

/*  Future Feature

.slide-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: white;
  border: 1px solid black;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
*/
